{% if html_meta.back_url %}
    <twig:WidgetContainer>
        <div class="text-center">
            <twig:ButtonBack url="{{ html_meta.back_url }}" />
        </div>
    </twig:WidgetContainer>
{% endif %}
