<div class="bg-widget mt-8">
    <twig:BaseContainer>
        <div class="p-4">
            <div class="max-w-48">
                <twig:Fediring />
            </div>
        </div>
    </twig:BaseContainer>
</div>
