{% props title %}
<div class="page-header {{ attributes.render('class') }}">
    <h1 class="font-(family-name:--heading-font-family) font-semibold text-text text-3xl mb-4">
        {{ title }}
    </h1>
</div>
